html {
  font-size: var(--font-size-2);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: var(--font-size-6);
  }
  h2 {
    font-size: var(--font-size-4);
  }
}

pre[class*="language-"] {
  border-radius: var(--radius-2);
  padding: var(--size-3);
  overflow: auto;
  max-inline-size: unset;
  font-size: 1em;
}

/* The syntax highlighting theme isn't accessible! */
.token.url, .token.symbol, .token.number, .token.boolean, .token.variable, .token.constant, .token.inserted {
  color: #23706f;
}

.token.attr-name, .token.property, .token.regex, .token.entity {
  color: #b50000;
}

toot-embed {
  display: block;
}

:root {
  --brand: var(--indigo-8);
}

#notes > li:not(:last-child):after {
  content: 'â‚'; 
  text-align: center;
  margin-bottom: var(--size-3);
  font-size: var(--size-6);
  display: block;
  color: var(--gray-5);
}

header, main, footer {
  max-width: 40em;
  margin: auto;
}

main {
  margin-bottom: var(--size-8);
}

:where(ol) {
  margin-bottom: var(--size-3);
}

@supports (view-transition-name: name) {
  header {
    view-transition-name: header;
  }
  
  main {
    view-transition-name: main;
  }
}

.info {
  border: solid var(--border-size-1) var(--blue-7);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  margin-bottom: var(--size-3);
  background-color: var(--blue-0);
}

.info > pre {
  margin-top: var(--size-2);
}

small {
  font-size: var(--font-size-0);
  display: block;
  max-inline-size: unset;
  color: var(--gray-7);
}

nav.vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav.vertical > a {
  padding: var(--size-2);
}
