<div class="post small">
  <div class="body">
    <div class="content">
      <div class="flex-item">
        {{#markdown}}I liked {{content}}.{{/markdown}}
      </div>
      <a href="/notes/{{slug}}" class="timestamp">
        <time>{{timestamp}}</time>
      </a>
    </div>
  </div>
</div>
