<!DOCTYPE html>
<html version='9' lang="en">
  <head>
    <link rel="icon" data-emoji="👨‍💻" type="image/png">
    <title>koddsson.com</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of Kristján Oddsson">

    <link rel="stylesheet" href="index.css">
    <link rel="manifest" href="/manifest.json">

    <link rel="me" href="https://micro.blog/koddsson">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://koddsson.com/micropub">

    <link rel="webmention" href="https://webmention.io/koddsson.com/webmention" />
    <link rel="pingback" href="https://webmention.io/koddsson.com/xmlrpc" />

    <script async src="scripts/emoji-favicon.js"></script>
  </head>
  <body>
    <section class="main">
      <h1 class="name">
        👋🏻 Hey I'm Kristján.
      </h1>
      <ul>
        <li>
          <!-- per http://wiki.zegnat.net/microformats/pronoun -->
          I use male pronouns (<a href="https://en.wiktionary.org/wiki/he#Pronoun" class="u-pronoun" lang="en">he</a>).
        </li>
        <li>
          Originally I'm from Reykjavík, Iceland.
        </li>
        <li>
          I'm currently living in <span class="locality">London</span>, <span class="country-name">The United Kingdom</span>.
        </li>
        <li>
          You can e-mail me at <a class="email" href="mailto:hey@koddsson.com">hey@koddsson.com</a>.
        </li>
        <li>
          <a href="https://github.com/koddsson" rel="noopener me">Check out my GitHub profile</a> if you'd like.
        </li>
        <li>
          Once I wrote about how <a href="posts/emoji-favicon/">you can use emojis as favicons.</a>
        </li>
        <li>
          I've spoken publicly a few times but I get super nervous speaking in front of people. My latest talk was at <a href="https://www.youtube.com/watch?v=MS7y2K7tZto">Web Components SF</a> in August 2020.
        </li>
        <li>
          I don't use Twitter but <a href="/notes">I post "micro blog" style notes</a>. You can also <a href="/notes/feed.xml">grab the RSS feed</a>.
        </li>
        <li>
          My latest note is:

          {{#if latestNote.isNote}}
          {{> note latestNote}}
          {{/if}}
          {{#if latestNote.isFavorite}}
          {{> favorite latestNote}}
          {{/if}}
        </li>
      </div>
      </ul>
    </section>
  </body>
</html>
