:root {
  --border-color: lightgray;
  --font-size: 16px;
  --font-family: serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;

  font-size: var(--font-size);
  font-family: var(--font-family);
  border-color: var(--border-color);
}

#root { 
  display: flex;
}

#sidebar {
  /* reset */
  margin: 0;
  padding: 0;

  background-color: white;

  position: absolute;
  height: 100%;
  left: -260px;
  width: 300px;

  /* simple border */
  border-right: 1px solid var(--border-color);

  transition: ease-out 200ms;
}

#sidebar.is-open {
  left: 0;
}

#sidebar.is-loading {
  /* center content */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  #sidebar.is-open {
    flex: 1;
  }
}

#sidebar > li {
  display: flex;

  border-bottom: 1px solid var(--border-color);
}

#sidebar > li > .emoji {
  align-self: center;
  padding-right: 10px;
}

#sidebar > li.is-selected {
  background-color: #ededed;
}

#sidebar > li > a {
  flex: 1;
  display: block;

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: black;
  text-decoration: none;
}

#sidebar > li > input {
  flex: 1;
  border: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: var(--font-size);
  font-family: var(--font-family);
  outline: none;
}

#content {
  padding: 20px;

  margin-left: 40px;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0.35em 0;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

ul {
  list-style: disc;
  margin-left: 1em;
}

#toggleButton {
  background-color: transparent;
  border: 0;
  margin-right: 5px;
}

/* utils */
.pull-right {
  margin-left: auto;
}