on:
  workflow_dispatch:
    inputs:
      filepath:
        description: "JSON file path for the data"
        type: string
        required: true
      filedata:
        description: "Stringify JSON data of the image"
        type: string
        required: true
      name:
        description: "git config user.name"
        type: string
        required: true
      email:
        description: "git config user.email"
        type: string
        required: true

permissions:
  contents: write

jobs:
  process:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Run script
        run: node scripts/index.mjs '${{ inputs.filepath }}' '${{ inputs.filedata }}'

      - name: Install dependencies & build
        run: |
          npm ci
          npm run build          

      - name: Push changes
        run: |
          git config user.email '${{ inputs.email }}'
          git config user.name '${{ inputs.name }}'
          git add .
          git commit -m "Add photo from Apple shortcuts" || echo "Nothing to commit"
          git fetch origin main
          git push origin HEAD:main
